{% extends 'base.html.twig' %}

{% block body_class %} skin-blue {% endblock %}

{% block head_javascript %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/easyadmin-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/datatables/dataTables.bootstrap.css') }}">

{% endblock %}

{% block sidebar %}

    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('bundles/app/img/avatar04.png') }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ ocs.NAME }}</p>
                <p>{{ ocs.IPADDR }}</p>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li class="header">Informazioa</li>
            <li>{{ ocs.OSNAME}}</li>
            {% if ocs.OSCOMMENTS is defined %}
                    <li>{{ ocs.OSCOMMENTS}}</li>
            {% endif %}
        </ul>

        {% block main_menu_wrapper %}
            {{ include([
            _entity_config is defined ? _entity_config.templates.menu,
            easyadmin_config('design.templates.menu'),
            '@EasyAdmin/default/menu.html.twig'
            ]) }}
        {% endblock main_menu_wrapper %}
    </section>





{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Inzidentzien zerrenda</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="tinzidentziak" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Inzidentzia</th>
                                            <th>Erabiltzailea</th>
                                            <th>Engine version</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in inzidentziak %}
                                            <tr>
                                                <td>{{ i.id }}</td>
                                                <td>{{ i.izena }}</td>
                                                <td>{{ i.userid }}</td>
                                                <td>{{ i.teknikoa }}</td>
                                                <td></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Deiak</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="divdeiak" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="tdeiak" class="table table-bordered table-striped dataTable">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Fetxa</th>
                                            <th>Nork</th>
                                            <th>Teknikoa</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>

{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


    <script src="{{ asset('bundles/app/js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/datatables/dt.js') }}"></script>

{% endblock %}