{% extends 'base.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/app/fonts/glyphicons-halflings-regular.eot') }}">

    <style>
        .ui-autocomplete-loading {
            background: white url({{ asset('bundles/app/img/ui-anim_basic_16x16.gif') }}) right center no-repeat;
        }
    </style>
{% endblock %}

{% block body_class %} skin-blue {% endblock %}

{% block sidebar %}

    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('bundles/app/img/avatar04.png') }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{% if ocs.NAME is defined %}{{ ocs.NAME }}{% endif %}</p>
                <p>{% if ocs.IPADDR is defined %}{{ ocs.IPADDR }}{% endif %}</p>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li class="header">Informazioa</li>
            <li>{% if ocs.OSNAME is defined %}{{ ocs.OSNAME}}{% endif %}</li>
            {% if ocs.OSCOMMENTS is defined %}
                <li>{{ ocs.OSCOMMENTS}}</li>
            {% endif %}
            {% if ocs.PROCESSORT is defined %}
                <li>CPU: {{ ocs.PROCESSORT }}</li>
            {% endif %}
            {% if ocs.MEMORY is defined %}
                <li>
                    <span class="label">Ram: {{ (ocs.MEMORY / 1024) | round }} Gb</span>
                    {% for s in storage %}
                        {% if s.TYPE is defined %}
                            {% if s.TYPE == "Fixedxhard disk media" %}
                                <span class="label bg-green">HDD: {{ (s.DISKSIZE / 1024) |round }} Gb</span>
                                {% if 'KINGSTON' in s.NAME %}
                                    <span class="label bg-red">SSD</span>
                                {% endif %}
                            {% elseif s.TYPE == "CD-ROM" %}
                                <span class="label bg-orange">CDROM</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </li>
                <li>
                    {% for n in net if (n.IPADDRESS is defined and n.IPADDRESS|slice(0,10) == '172.28.64.' ) %}
                        <button id="btnWol" class="btn btn-xs btn-primary" data-ip="{{ n.IPADDRESS }}" data-mac="{{ n.MACADDR }}" >WOL</button>
                    {% endfor %}
                    <button id="btnGuacamole" data-id="{{ net.connection_id }}" data-type="c" data-datasource="mysql" class="btn btn-xs btn-warning">Guacamole</button>
                </li>


            {% endif %}
            <li>&nbsp;</li>
            <li class="header">Informazio areagotua</li>
            <li class="treeview">
                <a href="#"><i class="fa fa-print"></i> Inpresorak<i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <select name="printer" id="printer">
                        {% for p in printers %}
                            <option>{{ p.NAME }} ({{ p.PORT }})</option>
                        {% endfor %}
                    </select>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-windows"></i> Aplikazioak<i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li>
                        <select name="soft" id="soft">
                            {% for s in soft %}
                                <option>{{ s.NAME }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
            </li>
        </ul>




    </section>

{% endblock %}

{% block main %}
    <div id="flash-messages"></div>
    <section class="content-header">

        <div class="row">
            <div class="col-sm-5">
                <h1 class="title">Inzidentzia berria</h1>
            </div>
            <div class="box-tools pull-right">
                <a id="btn_fix" class="btn btn-danger">
                    <i class="fa fa-thumbs-o-up"></i> Konpondua
                </a>
            </div>
        </div>
    </section>


    <section id="main" class="content">
        {{ form_start(form) }}
        <div class="row">
            {{ form_errors(form) }}
            <div class="col-sm-12 large">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-edit"></i>
                        <h3 class="box-title">Sartu datuak eta gorde</h3>
                    </div>

                    <div class="box-body pad">
                        <div class="row">
                            <div class="col-sm-12 large">
                                &nbsp;
                                <br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group  field-text">
                                    {{ form_label(form.teknikoa, 'Teknikoa', { 'label_attr': {'class': 'control-label'} }) }}
                                    {{ form_errors(form.teknikoa) }}
                                    {{ form_widget(form.teknikoa, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group  field-text">
                                    <label class="control-label required" for="userid">Erabiltzailea</label>
                                    <select name="inzidentziacategory[userid]" id="userid" class="form-control">
                                        {% for u in users %}
                                            <option value="{{ u.userid }}">{{ u.first_name ~ ", " ~ u.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="field-text">
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                                        + Kategoria
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <select multiple name="kat_parent" id="aita" title="Kategoria" class="form-control">
                                        {% for k in kategorik %}
                                            <option value="{{ k.id }}">{{ k }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select multiple name="kat_child" id="semea" title="Azpikategoria" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group  field-text">
                                    {{ form_label(form.categories, 'Kategoriak', { 'label_attr': {'class': 'control-label'} }) }}
                                    {{ form_errors(form.categories) }}
                                    {{ form_widget(form.categories, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group  field-text">
                                    {{ form_label(form.azalpena, 'Azalpena', { 'label_attr': {'class': 'control-label'} }) }}
                                    {{ form_errors(form.azalpena) }}
                                    {{ form_widget(form.azalpena, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 form-actions" style="width: 100%;">
                                <div class="form-group">
                                    <div id="form-actions-row">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-save"></i> Gorde
                                        </button>
                                        <a class="btn btn-secondary action-list" href="{{ path('deia_new') }}">Ezeztatu eta itzuli</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:none;">
            <input type="text" id="inzidentzia_id" value="{{ inzidentzia.id }}">
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </section>

    <div id="myModal" class="modal">
        <div class="modal-dialog">
            {{ form_start(frmInzidentzia) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Kategoria berria</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group  field-text">
                                {{ form_label(frmInzidentzia.name, 'Izena', { 'label_attr': {'class': 'control-label'} }) }}
                                {{ form_errors(frmInzidentzia.name) }}
                                {{ form_widget(frmInzidentzia.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group  field-text">
                                {{ form_label(frmInzidentzia.parent, 'Izena', { 'label_attr': {'class': 'control-label'} }) }}
                                {{ form_errors(frmInzidentzia.parent) }}
                                {{ form_widget(frmInzidentzia.parent, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button id="btnSaveCategory" type="button" class="btn btn-outline">Gorde</button>
                </div>
            </div>
            <!-- /.modal-content -->
            {{ form_end(frmInzidentzia) }}
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script type="text/javascript">

        $(function () {

            if ($('#inzidentziacategory_konpondua').prop('checked') === true) {
                $('#btn_fix').removeClass("btn-danger");
                $('#btn_fix').addClass("btn-success");
            } else {
                $('#btn_fix').removeClass("btn-success");
                $('#btn_fix').addClass("btn-danger");
            }

            $('#btnSaveCategory').on("click", function (e) {
                var url = Routing.generate('kudeatu_category_new');
                var data = {};
                data.name = $('#category_name').val();

                var parent = $('#category_parent').val();

                if (parent !== "") {
                    data.parent = parent;
                }


                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function (data, dataType) {
                        if (( data.parent_id !== "" ) && ( data.parent_id !== undefined )) {
                            // begiratu parent-a badagoen dagoeneko
                            if ($("#aita option[value='" + data.parent_id + "']").length === 0) {
                                $('#aita').append($("<option></option>").attr("value", data.parent_id).text(data.parent_name));
                                $('#category_parent').append($("<option></option>").attr("value", data.parent_id).text(data.parent_name));
                            }
                            $('#aita').val(data.parent_id);
                            $('#semea').append($("<option></option>").attr("value", data.id).text(data.name));
                            $('#semea').val(data.id);
                        } else {
                            $('#aita').append($("<option></option>").attr("value", data.id).text(data.name));
                            $('#aita').val(data.id);
                        }


                        var values = $('#inzidentziacategory_categories').val();
                        $('#inzidentziacategory_categories').append($("<option></option>").attr("value", data.id).text(data.name));
                        $('#inzidentziacategory_categories').val(data.id).trigger("change");

                        // Formulario hustu
                        $('#category_name').val("");
                        $('#category_parent').val("");
                        $('#myModal').modal('toggle');
                    },

                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log('Error : ' + errorThrown);
                    }
                });
            });

            $('#btn_fix').on("click", function (e) {
                var miid = $('#inzidentzia_id').val();
                if (miid === "") {
                    // Oraindik ez da grabatu bera checkboz-a aldatuko dugu
                    if ($('#inzidentziacategory_konpondua').prop('checked') === true) {
                        $('#inzidentziacategory_konpondua').prop('checked', false);
                        $('#btn_fix').removeClass("btn-success");
                        $('#btn_fix').addClass("btn-danger");
                    } else {
                        $('#inzidentziacategory_konpondua').prop('checked', true);
                        $('#btn_fix').removeClass("btn-danger");
                        $('#btn_fix').addClass("btn-success");
                    }
                } else {
                    var url = Routing.generate('inzidentzia_fix', {'id': miid});
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function (data, dataType) {
                            if (data.konponduta === 0) {
                                $('#btn_fix').removeClass("btn-success");
                                $('#btn_fix').addClass("btn-danger");
                            } else {
                                $('#btn_fix').removeClass("btn-danger");
                                $('#btn_fix').addClass("btn-success");
                            }

                        },

                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log('Error : ' + errorThrown);
                        }
                    });
                }
            });

            $('#soft').select2();
            $('#printer').select2();

            var userid = $('#inzidentziacategory_userid').val();
            if (userid !== null) {
                $('#userid').val(userid).trigger("change");
            }

            $('#userid').select2().on("change", function (e) {
//                //$('#inzidentziacategory_userid').val(this.value);
//                var url = Routing.generate('inzidentzia_berria', {'userid': this.value});
//                window.location.href = url;
            });


            $('#inzidentziacategory_categories').select2({
                theme: 'bootstrap',
                tags: true
            });

            $('#aita').on("click", function () {
                var url;
                var mival = $(this).val();
                url = Routing.generate('get_category', {'id': mival});

                $.getJSON(url, function (data) {
                    $("#semea").find('option').remove();
                    $.each(data, function () {
                        $("#semea").append('<option value="' + this.id + '">' + this.name + '</option>');
                    })
                })

            });

            $('#semea').on("click", function () {
                var sval = [];
                sval = $('#inzidentziacategory_categories').val();
                if (sval !== null) {
                    sval.push($(this).val());
                } else {
                    sval = $(this).val();
                }
                $('#inzidentziacategory_categories').val(sval).trigger("change");
            });

            $('#btnWol').on("click", function () {
                var ip = $(this).data("ip");
                var mac = $(this).data("mac");
                var url = Routing.generate('inzidentzia_wol', {'ip': ip, 'mac': mac});

                $.ajax({
                    url: url,
                    context: document.body
                }).done(function () {
                    $('#btnWol').html("WOL - bidalita");
                }).fail(function () {
                    $('#btnWol').html("WOL - error");
                });

            })

//            MzgwMABjAG15c3Fs
            var ClientIdentifier = function toString(id) {
                return window.btoa([
                    id.id,
                    id.type,
                    id.dataSource
                ].join('\0'));
            };

            var id = {};
            id.id = 3800;
            id.type = 'c';
            id.dataSource = 'mysql';
            console.log("hau: " + ClientIdentifier(id));
            var miurl = ClientIdentifier(id);
            $('#nireurl').href += miurl;
            $('#nireurl').attr('href', function (i, str) {
                return str + miurl;
            });

            $('#btnGuacamole').on("click", function (){
                var urlbase = 'http://172.28.64.231:8080/guacamole/#/client/';
                var miid = $(this).data('id');
                var mitype = $(this).data('type');
                var midataSource = $(this).data('datasource');

                var guacid = {};
                guacid.id= miid;
                guacid.type = mitype;
                guacid.dataSource = midataSource;

                var guac = ClientIdentifier(guacid);

                var url = urlbase + guac;
                console.log(url);
                window.open(url);
            });


        });





    </script>

{% endblock %}